$primary: #7367f0;
.smBtn {
  margin: 2.5px 1.5px !important;
}

.overflow {
  overflow-x: scroll;
}

#ow-table {
  width: 100%;
  margin: 16px 0;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.own-modify-tr {
  @media(max-width: 768px) {
    input[readonly="readonly"] {
      width: 120px;
    }
    input[type="time"] {
      width: 90px;
    }
    .w-120 {
      width: unset;
    }
    .vs-con-input-label {
      width: 80px;
    }
  }
  @media(min-width: 1024px) {
    .w-120 {
      width: 120px;
    }
    .w-90 {
      width: 90px;
    }
    .vs-con-input-label {
      width: auto;
    }
  }
}

.gateway {
  width: auto;
  height: 80px;
}

.text-primary {
  color: $primary !important;
}

.data-table {
  width: 100%;
  display: flex;
  border: 1px solid rgb($primary, 0.2);
  flex-direction: column;
  margin: 15px 0;

  .rows {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    @media(max-width: 768px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgb($primary, 0.2);
    }

    .header {
      background: #7367f017;
      padding: 5px 8px;
      text-transform: capitalize;
      color: #136ecc;
      flex: 2;
      text-align: right;
      @media(max-width: 768px) {
        text-align: unset;
      }

      &:empty {
        background: transparent !important;
        @media(max-width: 768px) {
          display: none !important;
        }
      }
    }

    .content {
      flex: 3;
      text-transform: uppercase;
      padding: 5px 8px;
      color: #131313;

      &:empty {
        background: transparent !important;
        @media(max-width: 768px) {
          display: none !important;
        }
      }
    }
  }

  .rows2 {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @media(max-width: 768px) {
      flex-direction: column;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgb($primary, 0.2);
    }

    .header {
      background: #7367f017;
      padding: 5px 8px 5px 0;
      text-transform: capitalize;
      color: #136ecc;
      flex: 2;
      text-align: right;
      @media(max-width: 768px) {
        text-align: unset;
      }

      &:empty {
        background: transparent !important;
      }
    }

    .content {
      flex: 8;
      text-transform: uppercase;
      padding: 5px 8px;
      color: #131313;

      &:empty {
        background: transparent !important;
      }
    }
  }
}

.own-hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px 6px !important;
}

.footer-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  border-top: 1px solid #ededed;
}

.own-modal {
  position: fixed;
  top: 0;
  z-index: 51000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(145, 148, 151, 0.30980392156862746);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;

  .inner-content {
    width: 60%;
    border-radius: 5px;
    position: relative;
    background: #fff;
    @media(max-width: 768px) {
      width: 80%;
    }

    .header {
      background-color: #f8f8f8;
      border-radius: .42rem;
      padding: .8rem;

      .close-modal {
        position: absolute;
        padding: .2rem .62rem;
        top: 16px;
        right: 20px;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    .body {
      padding: 1rem;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      border-top: 1px solid #ededed;
      border-bottom-right-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;
    }
  }
}

.btn-primary {
  background: $primary;
  border: 1px solid $primary;
}

.pageTitle {
  font-weight: 500;
  color: #646464;
  margin-right: 1rem;
}

.action-own {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    margin-right: 4px;
    padding: 8px !important;

    i {
      color: #fff;
      font-size: 1.2rem !important;
    }
  }

  .icons-only {
    font-size: 1.2rem;

    i {
      color: $primary;
    }
  }
}

.vs__search {
  min-height: 30px;
}

.myTitle {
  font-weight: 500;
  color: #646464;
  font-size: 1.8rem;
  padding: 10px 5px;
}

.miniTitle {
  font-weight: 500;
  color: #646464;
  font-size: 1.2rem;
  padding: 10px 5px;
}

a {
  text-decoration: none !important;
}

.smBtn {
  margin: 0 1.5px;
  border-color: #4839eb;
  background-color: #7367f0;
  color: #fff;
  padding: 0.5rem 1.5rem !important;
  font-size: 0.7rem;
  line-height: 1;
  border-radius: 0.4285rem;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }
}

.router-link-exact-active {
  .smBtn {
    border-color: #24b263 !important;
    background-color: #28c76f !important;

    &:hover {
      box-shadow: 0 8px 25px -8px #28c76f;
    }
  }

}

a.router-link-active {
  .vs-icon {
    font-size: 0.7rem;
  }

  text-decoration: none !important;
}

.vs-pagination--ul {
  margin-bottom: 0 !important;
}

.vs-card {
  padding: 10px;
}

.vs-component.vs-switch.vs-switch-primary {
  border-radius: 10px !important;
}

.vs-card--content {
  font-size: 1rem;
}

.my-round {
  border-radius: 0.4285rem !important;
}

button:focus {
  outline: none !important;
}

.custom-table {
  .vs-table--td {
    pointer-events: none
  }
}

.vs-tabs--ul {
  margin-bottom: 0;
}

.mBox {
  display: flex;
  padding: 10px 5px;

  div:first-child {
    flex: 3;
    border-right: 3px solid #FFFFFF;
  }

  div:last-child {
    flex: 1;
  }
}

.ow-tr {
  .vs-con-input-label {
    width: 60px !important;
  }
}

.custom-collapse {
  padding: 0;

  .vs-collapse-item {
    cursor: default;
  }

  .vs-collapse-item--header {
    width: fit-content;

    .vs-icon {
      display: none;
    }
  }

  .vs-collapse-item--content {
    overflow: unset;

    .con-content--item {
      opacity: 0;
      pointer-events: none;
    }
  }

  .open-item {
    .con-content--item {
      pointer-events: all !important;
    }
  }
}

.btn-sm {
  cursor: pointer;
}

.mdInput {
  .vs-input {
    width: auto;
  }
}

.flex-2 {
  flex: 2 !important;
}

.vs-con-textarea {
  .vs-textarea {
    height: 100%;
  }
}

.dt-buttons {
  @media (max-width: 425px) {
    .btn-secondary {
      padding: 0.8rem 1.25rem !important;
    }
  }
}

.pointer-all {
  pointer-events: all !important;
}

.vs-component.vs-switch {
  border-radius: 10px !important;
}

.custom-tab {
  .vs-input {
    display: flex;
    width: 100%;

    .vs-input--label {
      flex: 1;
    }

    .vs-con-input {
      flex: 2;
    }
  }
}

.striped-td {
  .row:nth-child(odd) {
    background: rgba(34, 41, 47, 0.05);
  }

  .row {
    align-items: center;

    .vs-input {
      height: 40px;

      .vs-inputx {
        height: 30px;
      }
    }
  }
}

.totalSection {
  width: 100%;
  background: orangered;
  text-align: center;
  padding: 10px;
  color: white;

  .td-check {
    display: none;
  }
}

.vs-switch-success {
  .text-off {
    color: white !important;
  }

  background: #dc3545 !important;

  &.vs-switch-active {
    background: #28a745 !important;
  }
}

.fees-sort-table {
  thead {
    tr {
      th {
        width: 11%;

        &:not(:first-child):not(:last-child) {
          width: 26%;
        }

        vertical-align: top;
      }
    }
  }

  tbody {
    tr {
      td {
        width: 11%;

        &:not(:first-child):not(:last-child) {
          width: 26%;
        }
      }

    }
  }
}

.count-number {
  background: #FF9F43;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 3px;
  font-size: 11px;
}

.radio-btn {
  .vs-radio--label {
    p {
      padding: 6px 10px;
      color: white;
      border-radius: 4px;
      text-transform: uppercase;
      margin: 0 5px;
      font-size: 11px;
    }
  }
}

.con-text-validation {
  font-size: 12px;
}

.vs-input {
  .vs-input--icon-validate {
    display: none;
  }

}

.delete-pop-text {
  background: rgba(0, 207, 232, 0.2);
  color: #00cfe8;
  font-weight: bold;
  font-size: 14px;
}

.vs-popup {
  width: 400px !important;
}

@media print {
}

.error-text {
  font-size: 12px;
  color: #ea5455;

}

.vs-sidebar-group {
  .group-header {
    padding: 5px 15px !important;
  }
}

.status-select {
  .vs__selected {
    text-transform: capitalize !important;
  }
  .vs__dropdown-option {
    text-transform: capitalize !important;
  }
}