
  $primary:#7367f0!important;
  .text-primary{
    color:$primary;
  }
  .own-modal{
    position: fixed;
    top: 0;
    z-index: 51000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(145, 148, 151, 0.30980392156862746);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5%;
      .inner-content{
        width: 60%;
        border-radius: 5px;
        position: relative;
        background: #fff;
        @media(max-width: 768px){
          width: 80%;
        }
          .header{
            background-color: #f8f8f8;
            border-radius: .42rem;
            padding: .8rem;
            .close-modal{
              position: absolute;
              padding: .2rem .62rem;
              top: 16px;
              right: 20px;
              font-size: 13px;
              cursor: pointer;
              &:hover{
                box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
              }
            }
          }
          .body{
            padding: 1rem;
          }
          .footer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem;
            border-top: 1px solid #ededed;
            border-bottom-right-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
          }
      }
  }
  .btn-primary{
    background:$primary;
    border: 1px solid $primary;
  }
  .pageTitle {
    font-weight: 500;
    color: #646464;
    margin-right: 1rem;
  }

.action-own{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a{
    margin-right: 4px;
    padding: 8px!important;
    i{
      color:#fff;
      font-size: 1.2rem!important;
    }
  }
  .icons-only{
    font-size: 1.2rem;
      i{
        color: $primary ;
      }
  }
}

.vs__search{
  min-height: 30px;
}

.myTitle {
  font-weight: 500;
  color: #646464;
  font-size: 1.8rem;
  padding: 10px 5px;
}
.miniTitle {
  font-weight: 500;
  color: #646464;
  font-size: 1.2rem;
  padding: 10px 5px;
}
a{
  text-decoration: none!important;
}
.smBtn {
  margin: 0 1.5px;
  border-color: #4839eb;
  background-color: #7367f0;
  color: #fff;
  padding: 0.5rem 1.5rem !important;
  font-size: 0.7rem;
  line-height: 1;
  border-radius: 0.4285rem;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }
}

.router-link-exact-active {
  .smBtn {
    border-color: #24b263 !important;
    background-color: #28c76f !important;

    &:hover {
      box-shadow: 0 8px 25px -8px #28c76f;
    }
  }

}

a.router-link-active {
  .vs-icon {
    font-size: 0.7rem;
  }

  text-decoration: none !important;
}


.vs-pagination--ul {
  margin-bottom: 0 !important;
}

.vs-card {
  padding: 10px;
}

.vs-component.vs-switch.vs-switch-primary{
  border-radius: 10px!important;
}

.vs-card--content {
  font-size: 1rem;
}

.my-round {
  border-radius: 0.4285rem !important;
}

button:focus {
  outline: none !important;
}

.custom-table {
  .vs-table--td {
    pointer-events: none
  }
}

.vs-tabs--ul {
  margin-bottom: 0;
}

.mBox {
  display: flex;
  padding: 10px 5px;

  div:first-child {
    flex: 3;
    border-right: 3px solid #FFFFFF;
  }

  div:last-child {
    flex: 1;
  }
}

.ow-tr {
  .vs-con-input-label {
    width: 60px !important;
  }
}
.custom-collapse{
  padding: 0;
  .vs-collapse-item{
    cursor: default;
  }

  .vs-collapse-item--header {
    width: fit-content;

    .vs-icon {
      display: none;
    }
  }

  .vs-collapse-item--content {
    overflow: unset;

    .con-content--item {
      opacity: 0;
    }
  }
}

.btn-sm {
  cursor: pointer;
}

.mdInput {
  .vs-input {
    width: auto;
  }
}

.flex-2 {
  flex: 2 !important;
}

.vs-con-textarea {
  .vs-textarea {
    height: 100%;
  }
}

.dt-buttons {
  @media (max-width: 425px) {
    .btn-secondary {
      padding: 0.8rem 1.25rem !important;
    }
  }
}
.pointer-all{
  pointer-events: all!important;
}

.vs-component.vs-switch{
  border-radius:10px!important;
}
